@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");

@keyframes roll {

    from {
        -webkit-transform: scaleX(1.2) scaleY(1.2);
        transform: scaleX(1.2) scaleY(1.2);
        -webkit-transform-origin: 50% 50% 0;
        transform-origin: 50% 50% 0;
    }

    33% {
        -webkit-transform: scaleX(0.8) scaleY(0.8);
        transform: scaleX(0.8) scaleY(0.8);
        -webkit-transform-origin: 50% 50% 0;
        transform-origin: 50% 50% 0;
    }

    to {
        -webkit-transform: scaleX(0.8) scaleY(0.8);
        transform: scaleX(0.8) scaleY(0.8);
        -webkit-transform-origin: 50% 50% 0;
        transform-origin: 50% 50% 0;
    }
}

.actor .window-content {

    font-family: Berlin2;
    background-image: url(../images/bgparch.jpg);
    background-size: 100% 100%;

    input[type="text"]:hover,
    input[type="number"]:hover,
    input[type="text"]:focus,
    input[type="number"]:focus {
        box-shadow: 0 0 10px rgb(79, 82, 60) inset;
    }

    input[type="text"]::placeholder,
    input[type="number"]::placeholder {

        color: rgb(41, 49, 49);
        text-shadow: 0px 0px 10px black;
    }


    img {
        border: none
    }
    h1 {
        color:white;
        border:none;
        text-align: center;
        font-family: graveBolt;
        background-image: url(../images/tab-header.png);
        background-size: 100% 100%;
    }
    .dark{
        background-color:rgba(0, 0, 0, 0.561);
        color:white;
    } 
    a.skill-roll:hover,
    a.skill-roll:active {
        animation-duration: 0.3s;
        animation-name: roll;
        text-shadow: 0px 0px 10px rgb(25, 30, 88) ;


    }

    .attributes {
        
        ul {
            font-family: Berlin;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            li {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                input {
                    border: none;
                    text-align: center;
                    width: 30px;
                    height: 30px;
                    border-radius:15px;
                    background: url(../images/roundBack.webp);
                    background-size: cover
                }

                a {
                    margin-left: auto;
                    text-align: center
                }
            }
        }
    }
    .skills{
        ul {
            font-family: Berlin;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            li {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                border-bottom:1px solid grey;

                input {
                    border: none;
                    text-align: center;
                    width: 30px;
                    height: 30px;
                   
                  
                }
                span{
                    width:100px;
                    text-align: center;
                }
                a {
                    margin-left: auto;
                    text-align: center
                }
            }
        }

    }

}